<div class="footer-content">
  <!-- <div class="main-div" style="background-color: gray;  display: flex; justify-content: space-around;">
    <div>
      <p>Subscribe to our newsletter</p>
      <p>Be the first one to know about discounts, offers and events</p>
    </div>
    <div>
      <p>Need to show the Subscribe Popup</p>
    </div>
  </div> -->
  <div class="columns" style="display: flex; justify-content: space-around;"
    [ngClass]="{'single-column': footerConfig.columns.length === 1, 'double-column': footerConfig.columns.length === 2}">
    <!-- column section -->
    <div class="column" *ngFor="let column of footerConfig.columns">
      <h3 *ngIf="column.title">{{ column.title }}</h3>
      <p *ngIf="column.description">{{ column.description }}</p>
      <!-- <button *ngIf="column.buttonText" mat-button style="color: white;">{{
        column.buttonText }}</button> -->
      <app-custom-button *ngIf="column.buttonText" [text]="column.buttonText" [shape]="'rectangle'"
        [corners]="'rounded'" [foreground]="'white'" [background]="'#007bff'" [shadow]="true"></app-custom-button>
      <p *ngIf="column.lineText" [innerHTML]="column.lineText | safeHtml"></p>
      <div class="icon-buttons" *ngIf="column.iconButtons">
        <a *ngFor="let iconButton of column.iconButtons" [href]="iconButton.url" target="_blank">
          <mat-icon>{{ iconButton.icon }}</mat-icon>
        </a>
      </div>
    </div>

    <!-- iframe section -->
    <div class="iframe-container" *ngIf="footerConfig.iframeUrl">
      <iframe [src]="footerConfig.iframeUrl | safeUrl" [width]="footerConfig.iframeWidth"
        [height]="footerConfig.iframeHeight"></iframe>
    </div>
  </div>

  <hr>

  <!-- Bottom bar -->
  <!-- <div class="bottom-bar" [style.backgroundColor]="footerConfig.bottomBar?.backgroundColor || 'rgba(0, 0, 0, 0.8)'"
    [style.margin]="footerConfig.bottomBar?.margin || '0px'" [ngClass]="{
    'align-left': footerConfig.bottomBar?.align === 'left',
    'align-center': footerConfig.bottomBar?.align === 'center',
    'align-right': footerConfig.bottomBar?.align === 'right'
  }">
    <img *ngIf="footerConfig.bottomBar?.logoUrl" [src]="footerConfig.bottomBar?.logoUrl" alt="Logo"
      class="bottom-bar-logo" />
    <span class="copyright">
      © {{ footerConfig.bottomBar?.year }} {{ footerConfig.bottomBar?.company }}. All rights reserved.
    </span>
  </div> -->
  <div class="bottom-bar" [style.backgroundColor]="footerConfig.bottomBar?.backgroundColor || 'rgba(0, 0, 0, 0.8)'"
    [style.margin]="footerConfig.bottomBar?.margin || '0px'">

    <!-- Copyright Text on the Left -->
    <div class="bottom-bar-text">
      © {{ footerConfig.bottomBar?.year }} {{ footerConfig.bottomBar?.company }}. {{
      footerConfig.bottomBar?.copyrightText }}
    </div>

    <!-- Social Icons on the Right -->
    <div class="bottom-bar-icons">
      <a *ngFor="let icon of footerConfig.bottomBar?.icons" [href]="icon.url" target="_blank">
        <img [src]="icon.icon" alt="Icon" class="bottom-bar-icon" />
      </a>
    </div>
  </div>
</div>