<div class="footer-content">
  <div class="pageContainer">
    <div class="footer-container">
      <div class="top-section">
        <div class="top-section_content">
          <h2>{{ footerConfig.subscribeText }}</h2>
          <p>{{ footerConfig.subscribeDesc }}</p>
        </div>
        <div>
          <button
            class="top-section_subs_button"
            (click)="openSubscriptionModal()"
          >
            {{ footerConfig.subscribeButton }}
          </button>
        </div>
      </div>

      <div class="middle-section">
        <div class="logo-section">
          <img [src]="footerConfig.logoUrl" alt="Logo" />
          <p>{{ footerConfig.description }}</p>
        </div>
        <div class="links-section">
          <h4>Use Full Links</h4>

          <div *ngFor="let link of footerConfig.usefulLinks">
            <a [href]="link.url">{{ link.name }}</a>
          </div>
        </div>
        <div class="contact-section">
          <h4>Get in Touch</h4>
          <p>
            <a
              [href]="
                'https://www.google.com/maps?q=' + footerConfig.contact.address
              "
              target="_blank"
              class="icon-text"
            >
              <mat-icon>location_on</mat-icon
              ><span> {{ footerConfig.contact.address }}</span>
            </a>
          </p>

          <p>
            <a
              [href]="'mailto:' + footerConfig.contact.email"
              class="icon-text"
            >
              <mat-icon>email</mat-icon
              ><span> {{ footerConfig.contact.email }}</span>
            </a>
          </p>

          <p>
            <a [href]="'tel:' + footerConfig.contact.phone" class="icon-text">
              <mat-icon>phone</mat-icon>
              <span>{{ footerConfig.contact.phone }}</span>
            </a>
          </p>
        </div>
      </div>
      <ng-container class="iframe-container" *ngIf="footerConfig.iframeUrl">
        <iframe
          [src]="footerConfig.iframeUrl | safeUrl"
          [width]="footerConfig.iframeWidth"
          [height]="footerConfig.iframeHeight"
        ></iframe>
      </ng-container>
      <div
        class="bottom-bar"
        [style.backgroundColor]="footerConfig.bottomBar?.backgroundColor"
        [style.margin]="footerConfig.bottomBar?.margin || '0px'"
      >
        <!-- Copyright Text on the Left -->
        <div class="bottom-bar-text">
          © {{ footerConfig.bottomBar?.year }}
          {{ footerConfig.bottomBar?.company }}.
          {{ footerConfig.bottomBar?.copyrightText }}
        </div>

        <!-- Social Icons on the Right -->
        <div class="bottom-bar-icons">
          <a
            *ngFor="let icon of footerConfig.bottomBar?.icons"
            [href]="icon.url"
            target="_blank"
          >
            <img [src]="icon.icon" alt="Icon" class="bottom-bar-icon" />
          </a>
        </div>
      </div>

      <!-- <div
        class="columns"
        style="display: flex; justify-content: space-around"
        [ngClass]="{
          'single-column': footerConfig.columns.length === 1,
          'double-column': footerConfig.columns.length === 2
        }"
      > -->
      <!-- column section -->
      <!-- <div class="column" *ngFor="let column of footerConfig.columns">
          <h3 *ngIf="column.title">{{ column.title }}</h3>
          <p *ngIf="column.description">{{ column.description }}</p>
         
          <app-custom-button
            *ngIf="column.buttonText"
            [text]="column.buttonText"
            [shape]="'rectangle'"
            [corners]="'rounded'"
            [foreground]="'white'"
            [background]="'#007bff'"
            [shadow]="true"
          ></app-custom-button>
          <p
            *ngIf="column.lineText"
            [innerHTML]="column.lineText | safeHtml"
          ></p>
          <div class="icon-buttons" *ngIf="column.iconButtons">
            <a
              *ngFor="let iconButton of column.iconButtons"
              [href]="iconButton.url"
              target="_blank"
            >
              <mat-icon>{{ iconButton.icon }}</mat-icon>
            </a>
          </div>
        </div>

      </div>
      <div class="iframe-container" *ngIf="footerConfig.iframeUrl">
    <iframe
      [src]="footerConfig.iframeUrl | safeUrl"
      [width]="footerConfig.iframeWidth"
      [height]="footerConfig.iframeHeight"
    ></iframe>
  </div> -->
      <!-- <hr /> -->

      <!-- Bottom bar -->
      <!-- <div class="bottom-bar" [style.backgroundColor]="footerConfig.bottomBar?.backgroundColor || 'rgba(0, 0, 0, 0.8)'"
    [style.margin]="footerConfig.bottomBar?.margin || '0px'" [ngClass]="{
    'align-left': footerConfig.bottomBar?.align === 'left',
    'align-center': footerConfig.bottomBar?.align === 'center',
    'align-right': footerConfig.bottomBar?.align === 'right'
  }">
    <img *ngIf="footerConfig.bottomBar?.logoUrl" [src]="footerConfig.bottomBar?.logoUrl" alt="Logo"
      class="bottom-bar-logo" />
    <span class="copyright">
      © {{ footerConfig.bottomBar?.year }} {{ footerConfig.bottomBar?.company }}. All rights reserved.
    </span>
  </div> -->
    </div>
  </div>
</div>
<!-- </div> -->

<!-- subscriptionModal -->

<div *ngIf="isSubscriptionModalOpen" class="modal-container">
  <button
    mat-icon-button
    class="close-button"
    (click)="closeSubscriptionModal()"
  >
    <mat-icon>close</mat-icon>
  </button>
  <h2 class="modal-title">Subscribe To Our Newsletter</h2>
  <p class="modal-description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore.
  </p>
  <div class="input-container">
    <input type="email" placeholder="Enter Your Email" class="email-input" />
    <button mat-raised-button color="primary" class="subscribe-button">
      Subscribe
    </button>
  </div>
</div>
