.footer-content {
  background: purple;
  color: white;
  padding: 100px 320px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  color: purple;
  border-radius: 10px;
  padding: 20px 30px;
  min-height: 132px;
}
.top-section .top-section_content h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0%;
}
.top-section .top-section_content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
}
.top-section_buttons {
  display: flex;
  column-gap: 10px;
}
.top-section_subs_button,
.top-section_contctus_button {
  width: 318px;
  height: 50px;
  padding: 14px 30px;
  gap: 8px;
  border-radius: 6px;
  background: #800080;
  color: white;
  font-size: 16px;
  border: 0px;
}

.middle-section {
  display: flex;
  justify-content: space-between;
  gap: 204px;
}

.logo-section {
  text-align: left;
}
.logo-section p {
  max-width: 400px;
  margin-top: 24px;
}

.links-section {
  text-align: left;
  max-width: 208px;
}

.links-section h4,
.contact-section h4 {
  text-align: left;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0%;
}
.links-section div {
  margin-bottom: 20px;
}
.links-section div a {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  color: white;
}
.links-section p {
}

.contact-section {
  /* text-align: left; */
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 275px;
}
.contact-section mat-icon {
  flex: 24px 0 0;
}
.contact-section p {
  text-align: left;
}
.contact-section .icon-text {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: inherit;
}

.columns {
  display: flex;
  gap: 20px;
}

.single-column .column {
  flex: 1;
}

.double-column .column {
  flex: 1;
}

.column h3 {
  font-size: 18px;
  margin: 0 0 10px;
}

.column p {
  font-size: 14px;
  margin: 5px 0;
}

.column .icon-buttons a {
  margin-right: 8px;
  color: #ffffff;
  text-decoration: none;
}

.column .icon-buttons mat-icon {
  font-size: 20px;
  vertical-align: middle;
}

.iframe-container {
  flex: 1;
}

.iframe-container iframe {
  width: 100%;
  border: none;
}

.bottom-bar-logo-wrapper {
  flex: 1;
}
/*
.bottom-bar-text {
  flex: 1;
  text-align: center;
} */

.align-left {
  display: flex;
  justify-content: flex-start;
}

.align-center {
  display: flex;
  justify-content: center;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}

.bottom-bar-logo {
  height: 40px;
  margin-right: 10px;
}

.bottom-bar span {
  font-size: 12px;
  opacity: 0.8;
}

/* testing */
.bottom-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  height: 100px;
  border-top: 2px solid white;
}

.bottom-bar-text {
  font-size: 16px;
  color: white;
  /* opacity: 0.8; */
}

.bottom-bar-icons {
  display: flex;
  gap: 10px;
}

.bottom-bar-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid white;
  border-radius: 50%;
  transition: background 0.3s;
}

.bottom-bar-icons a:hover {
  background: white;
}

.bottom-bar-icons img {
  width: 16px;
  height: 16px;
  filter: invert(1); /* Makes icons white */
  transition: filter 0.3s;
}

.bottom-bar-icons a:hover img {
  filter: invert(0); /* Makes icons black on hover */
}

/* Subscription css start */
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f9dff9;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 620px;
  text-align: center;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  border-radius: 50%;
  background: purple;
  border: none;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
  color: #800080;
  max-width: 350px;
  margin: auto;
}

.modal-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #333333;
}

.input-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.email-input {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  width: 60%;
  outline: none;
}

.subscribe-button {
  border-radius: 20px;
  padding: 10px 20px;
  background: purple;
  color: white;
  border: none;
}
/* Subscription css end */
