<!-- calendar.component.html -->
<div class="pageContainer">
  <div class="calendar-container">
    <div class="calendar-header">
      <div class="nav-container">
        <div *ngIf="currentView === 'week'" class="week-navigation">
          <button (click)="navigatePreviousWeek()">Previous Week</button>
          {{ currentWeekStart | date : "MMMM d, yyyy" }} -
          {{ currentWeekEnd | date : "MMMM d, yyyy" }}
          <button (click)="navigateNextWeek()">Next Week</button>
        </div>

        <div *ngIf="currentView === 'month'" class="month-navigation">
          <button (click)="navigatePreviousMonth()">Previous Month</button>
          {{ currentDate | date : "MMMM yyyy" }}
          <button (click)="navigateNextMonth()">Next Month</button>
        </div>
      </div>

      <!-- View Selector on the Right -->
      <mat-form-field class="view-selector">
        <mat-select
          [(ngModel)]="currentView"
          (selectionChange)="switchView(currentView)"
        >
          <mat-option value="month">Month</mat-option>
          <mat-option value="week">Week</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Month View -->
    <div *ngIf="currentView === 'month'" class="month-view">
      <div class="month-grid">
        <!-- Day Names Row -->
        <div class="week-row day-names">
          <div *ngFor="let dayName of getDayNames()" class="day-name">
            {{ dayName }}
          </div>
        </div>
        <!-- Generate month grid dynamically -->
        <div *ngFor="let week of monthGrid" class="week-row">
          <div
            *ngFor="let day of week"
            class="day-cell"
            [class.other-month]="!isCurrentMonth(day.date)"
          >
            <div class="day-header">
              {{ day.date | date : "d" }}
              <div>
                <mat-icon
                  *ngIf="day.bookings.length > 0"
                  class="toggle-icon"
                  (click)="expandOpenModal(day)"
                  >expand_more</mat-icon
                >
                <mat-icon *ngIf="isToday(day.date)" class="today-icon"
                  >today</mat-icon
                >
              </div>
            </div>
            <div class="bookings">
              <div *ngFor="let booking of day.bookings" class="booking">
                <!-- <P>{{ booking | json }}</P> -->
                {{ booking.startTime }} - <span>{{ booking.placeholder }}</span>
                <mat-icon
                  (click)="
                    selectSlot(day.date, booking.startTime, booking.duration)
                  "
                  >edit</mat-icon
                >
              </div>
            </div>

            <button
              class="add-booking"
              *ngIf="isCurrentMonth(day.date)"
              (click)="addBooking(day.date)"
              [disabled]="isPastDate(day.date)"
            >
              +
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="expandDayBookingModal" class="expand-modal">
      <div class="modal-content">
        <mat-icon class="close-modal-icon" (click)="closeExpandModal()"
          >close</mat-icon
        >
        <h6>{{ selectedDayBookings.date | date : "dd/MM/yyyy" }} - Bookings</h6>

        <!-- Loop through all bookings -->
        <div
          class="booking-container"
          *ngFor="let booking of selectedDayBookings?.bookings"
        >
          <div class="booking-item">
            <mat-accordion class="example-headers-align" multi>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <label>Meeting :</label>{{ booking.placeholder }}
                  </mat-panel-title>
                  <mat-panel-description>
                    <mat-icon>account_circle</mat-icon>
                    <label>Customer Name :</label>{{ booking.customerName }}
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <!-- <mat-form-field>
                  <mat-label>First name</mat-label>
                  <input matInput />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Age</mat-label>
                  <input matInput type="number" min="1" />
                </mat-form-field> -->
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>

    <!-- Week View -->
    <div *ngIf="currentView === 'week'" class="week-view">
      <div class="week-grid">
        <div class="week-day" *ngFor="let day of weekDays">
          <div class="day-name">{{ day.date | date : "EEE, MMM d" }}</div>
          <div class="time-slots">
            <div
              *ngFor="let timeSlot of day.timeSlots"
              class="time-slot"
              [class.has-booking]="timeSlot.booking"
              [class.disabled]="timeSlot.disabled"
              (click)="
                !timeSlot.disabled && selectSlot(day.date, timeSlot.time)
              "
            >
              {{ timeSlot.time }}
              <div *ngIf="timeSlot.booking" class="booking-details">
                {{ timeSlot.booking.placeholder }}
              </div>
              <mat-icon
                *ngIf="isCurrentTimeSlot(day.date, timeSlot.time)"
                class="current-time-icon"
                >update</mat-icon
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Booking Modal -->
    <div *ngIf="selectedSlot" class="booking-modal">
      <form [formGroup]="bookingForm" (ngSubmit)="bookSlot()">
        <div class="booking-modal-title">
          <h2>{{ selectedSlot ? "Book Slot" : "Slot Details" }}</h2>
        </div>

        <div class="booking-form">
          <div class="slot-details">
            <p>
              <label>Date:</label> {{ selectedSlot.date | date : "mediumDate" }}
            </p>
            <p>
              <label>Start Time:</label>
              <mat-form-field>
                <mat-select
                  formControlName="startTime"
                  [(ngModel)]="selectedSlot.startTime"
                  (ngModelChange)="onTimeSlotChange($event)"
                >
                  <mat-option
                    class="booking-model-avai-time"
                    *ngFor="let slot of availableTimeSlots"
                    [value]="slot.time"
                  >
                    {{ slot.time }}
                    <span
                      class="dot"
                      [ngClass]="{
                        'green-dot': slot.status === 'available',
                        'red-dot': slot.status === 'booked'
                      }"
                    ></span>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </p>
          </div>
          <div class="slot-other-detail">
            <div class="input-wrapper">
              <label> Duration: </label>
              <select
                formControlName="duration"
                class="duration-select"
                [disabled]="isSlotBooked"
              >
                <option
                  *ngFor="
                    let duration of getAvailableDurations(
                      selectedSlot.startTime
                    )
                  "
                  [value]="duration"
                >
                  {{
                    duration === 30
                      ? "30 mins"
                      : duration === 60
                      ? "1 hour"
                      : "1.5 hours"
                  }}
                </option>
              </select>
            </div>
            <div class="input-wrapper">
              <label> Placeholder: </label>
              <input type="text" formControlName="placeholder" required />
            </div>
            <div class="input-wrapper">
              <label> Customer Name: </label>
              <input type="text" formControlName="customerName" />
            </div>
            <div class="input-wrapper">
              <label> Additional Attribute: </label>
              <input type="text" formControlName="attribute2" />
            </div>
          </div>
        </div>
        <div class="modal-actions">
          <button type="button" class="cancel" (click)="selectedSlot = null">
            Cancel
          </button>
          <button type="submit" class="submit_form">Book Slot</button>
        </div>
      </form>
    </div>
  </div>
</div>
