/* calendar.component.css */
.calendar-container {
  max-width: 100%;
  margin: 100px auto;
  color: #333;
  position: relative;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border-top: 2px solid purple;
  align-items: center;
}

.view-selector {
  width: auto;
  font-size: 14px;
  font-weight: 600;
}
.view-selector option {
  background-color: #fff;
  color: purple;
}
::ng-deep
  .mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled)
  .mat-mdc-text-field-wrapper {
  border: 2px solid purple;
  background: transparent;
  color: purple;
  width: 150px;
  border-radius: 6px;
  height: 38px;
  align-items: center;
}
::ng-deep.mdc-list-item--selected {
  background-color: purple !important;
  color: #fff;
}
::ng-deep#mat-select-0-panel {
  padding: 0px;
  border-radius: 6px;
}
::ng-deep.mat-mdc-form-field-bottom-align {
  display: none;
}
::ng-deep.mat-mdc-select-min-line {
  color: purple;
  font-weight: 600;
}
::ng-deep.mat-mdc-select-arrow svg {
  color: purple;
}
::ng-deep .mdc-list-item--selected .mdc-list-item__primary-text {
  color: #fff !important;
}

::ng-deep .mat-select-panel {
  background-color: white;
}
::ng-deep.mat-pseudo-checkbox._mat-animation-noopable {
  display: none;
}
::ng-deep .mdc-line-ripple {
  display: none;
}

.calendar-header > button {
  background-color: purple;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.calendar-header > button:hover {
  background-color: purple;
}

.month-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
  font-weight: 700;
  font-size: 18px;
  color: purple;
}

.month-navigation button,
.week-navigation button {
  background-color: transparent;
  color: purple;
  border: 2px solid purple;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.month-navigation button:hover,
.week-navigation button:hover {
  background-color: purple;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid purple;
}

.month-grid {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.week-row {
  display: flex;
  justify-content: space-between;
}

.day-names {
  background-color: #f0f0f0;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.day-name {
  flex: 1;
  text-align: left;
  color: #fff;
  background: purple;
  padding: 10px;
}
.day-cell {
  flex: 1;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
}

.day-cell:hover:not(:has(.add-booking:disabled)) {
  background: #f9dff9;
}

.day-cell.has-booking {
  background-color: #e0e0e0;
}

.day-cell.other-month {
  cursor: default;
  background: #ccc;
}

.day-cell.other-month:hover {
  cursor: not-allowed;
  background: #ccc !important;
}

.bookings {
  overflow-y: auto;
  gap: 3px;
  width: 100%;
  height: 100%;
  max-height: 135px;
}

.booking-container {
  max-height: 400px;
  height: auto;
  overflow-y: auto;
}

/* Customize scrollbar */
.bookings::-webkit-scrollbar,
.booking-container::-webkit-scrollbar {
  width: 3px;
}

.bookings::-webkit-scrollbar-thumb,
.booking-container::-webkit-scrollbar-thumb {
  background-color: purple;
  border-radius: 4px;
}

.bookings::-webkit-scrollbar-track,
.booking-container::-webkit-scrollbar-track {
  background: transparent;
}

.booking {
  background-color: #846bd1;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  max-width: 95%;
  margin: 3px 0px;
  text-align: left;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.booking span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
}

.add-booking {
  background-color: purple;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-booking:hover {
  background-color: purple;
}

.add-booking:disabled {
  background-color: #d3d3d3;
  color: #888;
  cursor: not-allowed;
  opacity: 0.6;
}

.booking-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  /* padding: 30px; */
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 470px;
  overflow: hidden;
}

.booking-modal h2 {
  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
}

.booking-modal-title {
  display: flex;
  justify-content: space-between;
  background: purple;
  align-items: center;
  padding: 10px 24px;
}
.booking-modal-title .mat-delete-icon {
  color: white;
}

.booking-form {
  display: flex;
  flex-direction: column;
  margin: 24px;
}

.slot-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.slot-details p {
  display: flex;
  font-size: 18px;
  white-space: nowrap;
  align-items: center;
  gap: 5px;
}
.slot-details > p > label {
  color: purple;
  font-weight: 700;
}

.slot-other-detail {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.slot-other-detail .input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.today-icon {
  color: purple;
}

.booking-form input,
.booking-form select {
  height: 40;
  padding-top: 10px;
  padding-right: 14px;
  padding-bottom: 10px;
  padding-left: 14px;
  border-radius: 6px;
  border-width: 1px;
  font-size: 16px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  border-top: 2px solid purple;
}
.modal-actions .cancel {
  background: #333333;
  color: #fff;
  padding: 10px 16px;
  border-radius: 6px;
  border: none;
}
.modal-actions .submit_form {
  background: #800080;
  color: #fff;
  padding: 10px 16px;
  border-radius: 6px;
  border: none;
}

.week-view {
  margin-top: 20px;
}

.week-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
  font-weight: 700;
  font-size: 18px;
  color: purple;
}

.week-grid {
  display: flex;
  gap: 10px;
}

.week-day {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.day-header {
  font-weight: bold;
  padding-left: 10px;
  height: 44px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.time-slots {
  display: flex;
  flex-direction: column;
}

.duration-select:disabled,
.submit_form:disabled {
  pointer-events: none;
  opacity: 0.4;
}

.time-slot {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 8px;
  position: relative;
}

.disabled {
  background: #ccc !important;
  cursor: not-allowed;
}

.time-slot .current-time-icon {
  position: absolute;
  right: 10px;
  top: 20%;
  color: purple;
}

.time-slot:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}

.time-slot.has-booking {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.green-dot {
  background-color: green;
}

.red-dot {
  background-color: red;
}

.booking-model-avai-time {
  display: relative;
}

.expand-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transform: translate(-50%, -50%);
  width: 50%;
  border: 2px solid purple;
  border-radius: 11px;
  overflow: hidden;
}

.modal-content {
  background-color: white;
  padding: 20px;
  overflow-y: auto;
  width: 100%;
  position: relative;
}

.close-modal-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #800080;
}

h6 {
  text-align: left;
  margin-bottom: 20px;
  background-color: purple;
  color: white;
  font-weight: 700;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}

.booking-item {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.booking-item mat-accordion {
  width: 100%;
}

.event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.close-icon {
  cursor: pointer;
  font-size: 18px;
  color: #ff0000;
}

.time-slots {
  margin-top: 20px;
}

.time-slots p {
  margin: 5px 0;
  font-size: 14px;
}

mat-panel-title {
  white-space: nowrap;
}
mat-panel-title label {
  white-space: nowrap;
  color: purple;
}

mat-panel-description {
  white-space: nowrap;
}
mat-panel-description label {
  white-space: nowrap;
  color: purple;
}
