<app-custom-button
  [text]="button.text"
  [icon]="button.icon"
  [showIcon]="button.showIcon"
  [iconPosition]="button.iconPosition"
  [shape]="button.shape"
  [corners]="button.corners"
  [hasBorder]="button.hasBorder ?? false"
  [borderColor]="button.borderColor"
  [foregroundColor]="button.foregroundColor"
  [backgroundColor]="button.backgroundColor"
  [transparent]="button.transparent"
  [shadow]="button.shadow"
  (buttonClick)="navigateToForm()"
>
</app-custom-button>

<app-custom-material-table
  [data]="invites"
  [config]="tableConfig"
  (actionEditClicked)="handleResendInvite($event)"
  (actionDeleteClicked)="handleDeleteInvite($event)"
></app-custom-material-table>
