<div
  class="wrapper-container"
  [ngClass]="customClass"
  [ngStyle]="{ height: wrapperConfig.height }"
>
  <img
    *ngIf="wrapperConfig?.cornerImagesPositions?.leftTop"
    [src]="wrapperConfig.cornerImagesPositions.leftTop"
    class="corner-image left-top"
  />
  <img
    *ngIf="wrapperConfig?.cornerImagesPositions?.leftBottom"
    [src]="wrapperConfig.cornerImagesPositions.leftBottom"
    class="corner-image left-bottom"
  />
  <img
    *ngIf="wrapperConfig?.cornerImagesPositions?.rightTop"
    [src]="wrapperConfig.cornerImagesPositions.rightTop"
    class="corner-image right-top"
  />
  <img
    *ngIf="wrapperConfig?.cornerImagesPositions?.rightBottom"
    [src]="wrapperConfig.cornerImagesPositions.rightBottom"
    class="corner-image right-bottom"
  />
  <ng-content></ng-content>
</div>
