<div class="ms-container" style="height: 2000px">
  <app-section-wrapper
    [images]="[{ src: './quarter_anda.png', position: 'bottom-right' }]"
    [customClass]="'my-custom-class'"
    [customStyles]="{
      background:
        'linear-gradient(180deg, rgba(221, 130, 8, 0.81) 0%, #F5F5F5 54%, #EFE9DD 100%)',
      paddingTop: '220px',
      border: '2px solid red',
      textAlign: 'center',
      height: '725px'
    }"
  >
    <div class="microServiceContainer">
      <app-navbar
        class="microservices-navbar"
        [config]="navbarConfig"
      ></app-navbar>

      <app-card-list-component
        [cardConfig]="heroBannerConfig"
      ></app-card-list-component>
    </div>
  </app-section-wrapper>
</div>
