<div class="ms-container">
  <!-- <app-section-wrapper
    [images]="[{ src: './quarter_anda.png', position: 'bottom-right' }]"
    [customClass]="'my-custom-class'"
    [customStyles]="{
      background:
        'linear-gradient(180deg, rgba(221, 130, 8, 0.81) 0%, #F5F5F5 54%, #EFE9DD 100%)',
      paddingTop: '220px',
      textAlign: 'center',
      height: '725px'
    }"
  > -->
  <app-shape-wrapper
    [customStyles]="{
      width: '100%',
      background:
        'linear-gradient(180deg, rgba(221, 130, 8, 0.81) 0%, #F5F5F5 54%, #EFE9DD 100%)',
      paddingTop: '220px',
      textAlign: 'center',
      height: '725px'
    }"
    [shapes]="[
    {
      type: 'circle',
      position: 'bottom-right',
      styles: { backgroundColor: '#EDBC79CF',width: '200px', height: '200px',position:'absolute',bottom:'-100px',right:'-100px'},
    },
  ]"
    customClass="custom-container"
  >
    <div class="microServiceContainer">
      <app-navbar
        class="microservices-navbar"
        [config]="navbarConfig"
      ></app-navbar>

      <app-card-list-component
        [cardConfig]="heroBannerConfig"
      ></app-card-list-component>
    </div>
  </app-shape-wrapper>
  <!-- </app-section-wrapper> -->

  <!-- <app-section-wrapper
    [images]="[{ src: './double_anda.png', position: 'bottom-right' }]"
    [customStyles]="{ backgroundColor: '#F5F5F5', height: '1250px' }"
  > -->
  <div class="microServiceContainer" style="margin: auto; padding: 100px 0px">
    <app-card-list-component
      [cardConfig]="whoWeAreSection"
    ></app-card-list-component>
  </div>

  <app-shape-wrapper
    [customStyles]="{
      width: '100%',
      background: '#F5F5F5',
    }"
    [shapes]="[
    {
      type: 'circle',
      position: 'bottom-right',
      styles: { backgroundColor: '#EDBC79CF',width: '200px', height: '200px',position:'absolute',bottom:'-100px',right:'0px'},
    },
    {
      type: 'circle',
      position: 'bottom-right',
      styles: { backgroundColor: '#EDBC79CF',width: '200px', height: '200px',position:'absolute',bottom:'0px',right:'-100px'},
    },
  ]"
  >
    <div class="microServiceContainer" style="margin-bottom: 200px">
      <app-grid-view [cardGridConfig]="cardGridConfig"></app-grid-view>
    </div>
  </app-shape-wrapper>
  <!-- </app-section-wrapper> -->
  <app-section-wrapper
    [customStyles]="{ backgroundColor: '#ffffff', padding: '100px 0px' }"
  >
    <div class="microServiceContainer">
      <app-list-view [cardListConfig]="cardListConfig"></app-list-view>
    </div>
  </app-section-wrapper>
  <!-- Form Section -->
  <app-section-wrapper
    [images]="[
      { src: './shap.png', position: 'bottom-left' },
      { src: './particles.png', position: 'bottom-right' }
    ]"
    [customStyles]="{
      backgroundColor: '#F5F5F5',
      padding: '100px 0px 150px',
    }"
  >
    <div
      [style.width]="'1000px'"
      [style.padding]="'60px'"
      [style.background]="'#fff'"
      class="microServiceContainer"
    >
      <app-form-component
        [formConfig]="formConfigForContact"
      ></app-form-component>
    </div>
  </app-section-wrapper>

  <app-footer [footerConfig]="footerConfig"></app-footer>
</div>
