<div class="pageContainer">
  <div class="split-container">
    <!-- Form Section -->
    <div class="form-section" [style.flex-basis]="formConfig.formWidth + '%'">
      <div class="form-section-box">
        <h1 *ngIf="formConfig.formTitle" class="form-title">
          {{ formConfig.formTitle }}
        </h1>
        <p *ngIf="formConfig.formSubTitle" class="form-subtitle">
          {{ formConfig.formSubTitle }}
        </p>

        <div class="form-container" *ngIf="formConfig">
          <form [formGroup]="form">
            <div class="fields-wrapper">
              <ng-container
                *ngFor="let field of formConfig.fields; let i = index"
              >
                <div class="field-container">
                  <ng-container *ngIf="!field.hide">
                    <!-- Text Field -->
                    <mat-form-field
                      *ngIf="field.type === 'text'"
                      appearance="outline"
                      [ngStyle]="getMergedStyles(field)"
                      [ngClass]="field.style?.class"
                    >
                      <mat-label>{{ field.label }}</mat-label>
                      <input
                        matInput
                        [placeholder]="field.placeholder ?? 'Enter value'"
                        formControlName="{{ field.key }}"
                      />
                      <mat-error
                        *ngIf="
                          form.get(field.key)?.invalid &&
                          (form.get(field.key)?.dirty ||
                            form.get(field.key)?.touched)
                        "
                      >
                        {{ getErrorMessage(field) }}
                      </mat-error>
                    </mat-form-field>

                    <!-- Number Field -->
                    <mat-form-field
                      *ngIf="field.type === 'number'"
                      appearance="outline"
                      [ngStyle]="getMergedStyles(field)"
                      [ngClass]="field.style?.class"
                    >
                      <mat-label>{{ field.label }}</mat-label>
                      <input
                        matInput
                        type="number"
                        [placeholder]="field.placeholder ?? 'Enter value'"
                        formControlName="{{ field.key }}"
                      />
                      <mat-error
                        *ngIf="
                          form.get(field.key)?.invalid &&
                          (form.get(field.key)?.dirty ||
                            form.get(field.key)?.touched)
                        "
                      >
                        {{ getErrorMessage(field) }}
                      </mat-error>
                    </mat-form-field>

                    <!-- select tag / Dropdown hai -->
                    <mat-form-field
                      *ngIf="field.type === 'select'"
                      appearance="outline"
                      [ngStyle]="getMergedStyles(field)"
                      [ngClass]="field.style?.class"
                    >
                      <mat-label>{{ field.label }}</mat-label>
                      <mat-select
                        formControlName="{{ field.key }}"
                        (selectionChange)="onDropdownChange(field.key, $event)"
                      >
                        <mat-option
                          *ngFor="let option of field.options"
                          [value]="option.value"
                        >
                          <span
                            [ngClass]="{
                              'green-dot': option.status === 'available',
                              'red-dot': option.status === 'booked'
                            }"
                          ></span>
                          {{ option.label }}
                        </mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="
                          form.get(field.key)?.invalid &&
                          form.get(field.key)?.touched
                        "
                      >
                        {{ field.errorMessages?.required }}
                      </mat-error>
                    </mat-form-field>

                    <!-- slide toggle -->
                    <div
                      *ngIf="field.type === 'switch'"
                      class="switch-container"
                      [ngStyle]="getMergedStyles(field)"
                      [ngClass]="field.style?.class"
                    >
                      <mat-slide-toggle [formControlName]="field.key">
                        {{ field.label }}
                      </mat-slide-toggle>

                      <mat-error
                        *ngIf="
                          form.get(field.key)?.invalid &&
                          form.get(field.key)?.touched
                        "
                      >
                        {{ field.errorMessages?.required }}
                      </mat-error>
                    </div>

                    <!-- Radio Field -->
                    <div
                      *ngIf="field.type === 'radio'"
                      class="radio-container"
                      [ngStyle]="getMergedStyles(field)"
                      [ngClass]="field.style?.class"
                    >
                      <label>{{ field.label }}</label>
                      <div>
                        <mat-radio-group [formControlName]="field.key">
                          <mat-radio-button
                            *ngFor="let option of field.options"
                            [value]="option.value"
                          >
                            {{ option.label }}
                          </mat-radio-button>
                        </mat-radio-group>
                      </div>

                      <mat-error
                        *ngIf="
                          form.get(field.key)?.invalid &&
                          form.get(field.key)?.touched
                        "
                      >
                        {{ field.errorMessages?.required }}
                      </mat-error>
                    </div>

                    <!-- checkbox -->
                    <div
                      *ngIf="field.type === 'checkbox'"
                      class="custom-checkbox-wrapper"
                    >
                      <label class="checkbox-label">{{ field.label }}</label>

                      <div
                        class="custom-checkbox-group"
                        formArrayName="{{ field.key }}"
                      >
                        <mat-checkbox
                          *ngFor="let option of field.options; let i = index"
                          [value]="option.value.toString()"
                          [checked]="
                            form.get(field.key)?.value.includes(option.value)
                          "
                          (change)="
                            onCheckboxChange($event, field.key, option.value, i)
                          "
                        >
                          {{ option.label }}
                        </mat-checkbox>
                      </div>

                      <div
                        class="error-message"
                        *ngIf="
                          form.get(field.key)?.invalid &&
                          form.get(field.key)?.touched
                        "
                      >
                        {{ field.errorMessages?.required }}
                      </div>
                    </div>

                    <!-- Date Field -->
                    <mat-form-field
                      *ngIf="field.type === 'date'"
                      appearance="outline"
                      [ngStyle]="getMergedStyles(field)"
                      [ngClass]="field.style?.class"
                    >
                      <mat-label>{{ field.label }}</mat-label>
                      <input
                        matInput
                        [matDatepicker]="picker"
                        formControlName="{{ field.key }}"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                      <mat-error
                        *ngIf="
                          form.get(field.key)?.invalid &&
                          (form.get(field.key)?.dirty ||
                            form.get(field.key)?.touched)
                        "
                      >
                        {{ getErrorMessage(field) }}
                      </mat-error>
                    </mat-form-field>

                    <!-- time picker -->
                    <mat-form-field
                      *ngIf="field.type === 'time'"
                      appearance="outline"
                      [ngStyle]="getMergedStyles(field)"
                      [ngClass]="field.style?.class"
                    >
                      <mat-label>{{ field.label }}</mat-label>

                      <input
                        matInput
                        [ngxMatTimepicker]="timepicker"
                        readonly
                        formControlName="{{ field.key }}"
                      />

                      <ngx-mat-timepicker-toggle
                        matSuffix
                        [for]="timepicker"
                      ></ngx-mat-timepicker-toggle>

                      <ngx-mat-timepicker
                        #timepicker
                        enableKeyboardInput="true"
                      ></ngx-mat-timepicker>

                      <mat-error
                        *ngIf="
                          form.get(field.key)?.invalid &&
                          (form.get(field.key)?.dirty ||
                            form.get(field.key)?.touched)
                        "
                      >
                        {{ getErrorMessage(field) }}
                      </mat-error>
                    </mat-form-field>

                    <!-- File Upload Field -->
                    <div
                      *ngIf="field.type === 'file'"
                      class="file-upload-container"
                    >
                      <div
                        class="upload-area"
                        [ngStyle]="getMergedStyles(field)"
                        [ngClass]="field.style?.class"
                      >
                        <div
                          class="upload-icon"
                          *ngIf="
                            field.showFileIcon && field.buttonConfig?.showIcon
                          "
                        >
                          <mat-icon>cloud_upload</mat-icon>
                        </div>
                        <p class="upload-text">
                          Drag your {{ field.label }} to start uploading
                        </p>

                        <input
                          type="file"
                          (change)="onFileSelect($event, field)"
                          [accept]="field.fileConfig?.allowedTypes?.join(',')"
                          multiple
                          hidden
                          #fileInput
                        />

                        <app-custom-button
                          [text]="field.buttonConfig?.text || 'Browse'"
                          (buttonClick)="fileInput.click()"
                        >
                        </app-custom-button>
                      </div>

                      <!-- Show Uploaded Images -->
                      <div class="uploaded-images">
                        <div
                          class="image-preview"
                          *ngFor="let img of selectedImages; let i = index"
                        >
                          <img
                            width="50px"
                            height="50px"
                            [src]="img"
                            alt="Uploaded Image"
                          />
                          <mat-icon class="mat-icon" (click)="removeImage(i)"
                            >close</mat-icon
                          >
                        </div>
                      </div>

                      <mat-error
                        *ngIf="
                          form.get(field.key)?.invalid &&
                          (form.get(field.key)?.dirty ||
                            form.get(field.key)?.touched)
                        "
                      >
                        {{ getErrorMessage(field) }}
                      </mat-error>
                    </div>

                    <!-- Textarea Field -->
                    <div
                      *ngIf="field.type === 'textarea'"
                      class="textarea-container"
                    >
                      <quill-editor
                        [formControlName]="field.key"
                        [modules]="field.textareaConfig?.modules"
                        [ngStyle]="getMergedStyles(field)"
                        [ngClass]="field.style?.class"
                        [placeholder]="field.placeholder ?? 'Write your bio'"
                      >
                      </quill-editor>
                      <mat-error
                        *ngIf="
                          form.get(field.key)?.invalid &&
                          (form.get(field.key)?.dirty ||
                            form.get(field.key)?.touched)
                        "
                      >
                        {{ getErrorMessage(field) }}
                      </mat-error>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </div>
            <!-- <button mat-flat-button color="primary" class="submit-button" type="submit">Submit</button> -->
            <div class="submit-button-container">
              <app-custom-button
                *ngIf="formConfig.submitButtonConfig"
                [text]="formConfig.submitButtonConfig.text"
                [icon]="formConfig.submitButtonConfig.icon"
                [showIcon]="formConfig.submitButtonConfig.showIcon"
                [iconPosition]="formConfig.submitButtonConfig.iconPosition"
                [foreground]="formConfig.submitButtonConfig.foreground"
                [background]="formConfig.submitButtonConfig.background"
                [shadow]="formConfig.submitButtonConfig.shadow"
                [shape]="formConfig.submitButtonConfig.shape"
                [corners]="formConfig.submitButtonConfig.corners"
                [transparent]="formConfig.submitButtonConfig.transparent"
                (buttonClick)="onSubmit()"
              >
              </app-custom-button>
              <app-custom-button
                *ngIf="formConfig.cancelButtonConfig"
                [text]="formConfig.cancelButtonConfig.text"
                [icon]="formConfig.cancelButtonConfig.icon"
                [showIcon]="formConfig.cancelButtonConfig.showIcon"
                [iconPosition]="formConfig.cancelButtonConfig.iconPosition"
                [foreground]="formConfig.cancelButtonConfig.foreground"
                [background]="formConfig.cancelButtonConfig.background"
                [shadow]="formConfig.cancelButtonConfig.shadow"
                [shape]="formConfig.cancelButtonConfig.shape"
                [corners]="formConfig.cancelButtonConfig.corners"
                [transparent]="formConfig.cancelButtonConfig.transparent"
                (buttonClick)="onCancel()"
              >
              </app-custom-button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Image Section -->
    <div
      *ngIf="formConfig.isImageShow"
      class="image-section"
      [style.flex-basis]="
        formConfig ? 100 - formConfig.formWidth + '%' : '100%'
      "
    >
      <img [src]="rightSideImage" alt="Quote Form Image" />
    </div>
  </div>
</div>
