.toggle-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 44px;
}
.toggle-wrapper ::ng-deep.mat-pseudo-checkbox {
  display: none;
}
.view-toggle {
  border: 2px solid purple;
  border-radius: 30px;
  overflow: hidden;
  padding: 4px;
  gap: 4px;
}

.toggle-button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: purple;
  border-radius: 30px;
  padding: 10px 20px;
}

.toggle-icon {
  margin-right: 6px;
}

.toggle-button.mat-button-toggle-checked {
  background-color: purple;
  color: white;
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.list-view {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

:host ::ng-deep .mdc-button-toggle-checked::after {
  display: none !important;
}
