<div class="pageContainer">
  <app-tab-button
    [options]="tabOptions"
    [isSingleOption]="true"
    (selectedValues)="onTabChange($event)"
  ></app-tab-button>

  <ng-container *ngIf="selectedTabs.includes('grid')">
    <app-grid-view [cardGridConfig]="cardGridConfig"></app-grid-view>
  </ng-container>

  <ng-container *ngIf="selectedTabs.includes('list')">
    <app-list-view [cardListConfig]="cardListConfig"></app-list-view>
  </ng-container>

  <ng-container *ngIf="selectedTabs.includes('settings')">
    <app-carousel [config]="carouselConfig"></app-carousel>
  </ng-container>
</div>
