<div *ngIf="isPageLoading" class="skeleton-loader"></div>

<button
  *ngIf="!isPageLoading"
  (click)="handleClick($event)"
  class="custom-button mat-button"
  [ngClass]="{
    active: active,
    elevated: shadow,
    flat: !shadow,
    transparent: transparent,
    hover: hover
  }"
  [ngStyle]="getMergedStyles()"
  (mouseenter)="hover = true"
  (mouseleave)="hover = false"
  [class]="class ? class : ''"
>
  <div class="menu-content">
    <!-- Left-aligned icon or spinner -->

    <span *ngIf="iconPosition === 'left'" class="button-content left">
      <ng-container *ngIf="loadingData; else showIconContent">
        <mat-progress-spinner
          class="spinner"
          mode="indeterminate"
          [diameter]="24"
          [strokeWidth]="3"
        ></mat-progress-spinner>
      </ng-container>
      <ng-template #showIconContent>
        <mat-icon *ngIf="showIcon">{{ icon }}</mat-icon>
      </ng-template>
    </span>

    <!-- Button text -->
    <span *ngIf="iconPosition !== 'full' && !isMenuButton" class="button-text">
      {{ text }}
    </span>
    <span *ngIf="iconPosition !== 'full' && isMenuButton" class="button-text">
      {{ text }}
    </span>

    <!-- Right-aligned icon or spinner -->
    <span *ngIf="iconPosition === 'right'" class="button-content right">
      <ng-container *ngIf="loadingData; else showIconContent">
        <mat-progress-spinner
          class="spinner"
          mode="indeterminate"
          [diameter]="24"
          [strokeWidth]="3"
        ></mat-progress-spinner>
      </ng-container>
      <ng-template #showIconContent>
        <mat-icon *ngIf="showIcon">{{ icon }}</mat-icon>
      </ng-template>
    </span>

    <!-- Recursive Menu -->
    <!-- <div *ngIf="isMenuButton">{{ text }}</div> -->
    <div *ngIf="isMenuButton" class="menu-dropdown">
      <ul>
        <ng-container
          *ngTemplateOutlet="menuTemplate; context: { items: menuItems }"
        >
        </ng-container>
      </ul>
    </div>
  </div>
  <div class="menu-arrow" *ngIf="isMenuButton">
    <mat-icon>
      {{ !hover ? "expand_less" : "expand_more" }}
    </mat-icon>
  </div>
</button>

<!-- Recursive Template -->
<ng-template #menuTemplate let-items="items">
  <ng-container *ngFor="let item of items">
    <li
      class="recursive_li"
      (mouseenter)="onMouseEnter(item)"
      (mouseleave)="onMouseLeave(item)"
    >
      <a [routerLink]="item.url" class="menu-item">
        <div class="menu-content">
          <span
            *ngIf="item.icon && item.iconPosition === 'left'"
            class="icon-left"
          >
            <mat-icon>{{ item.icon }}</mat-icon>
          </span>

          <span class="menu-text">{{ item.text }}</span>

          <span
            *ngIf="item.icon && item.iconPosition === 'right'"
            class="icon-right"
          >
            <mat-icon>{{ item.icon }}</mat-icon>
          </span>
        </div>

        <div class="menu-arrow" *ngIf="item.menuItems?.length">
          <span>
            <mat-icon>
              {{ !isHovered(item) ? "expand_less" : "expand_more" }}
            </mat-icon>
          </span>
        </div>
      </a>

      <ul *ngIf="item.menuItems?.length && isHovered(item)">
        <ng-container
          *ngTemplateOutlet="menuTemplate; context: { items: item.menuItems }"
        ></ng-container>
      </ul>
    </li>
  </ng-container>
</ng-template>

<!-- Validation message (optional) -->
<!-- <div *ngIf="!isValid" class="validation-error">
  Button must contain either an icon or text.
</div> -->
