.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-wrapper {
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-links-wrapper {
  /* display: flex;
  justify-content: center; */
  margin-top: 15px;
}

.signup-links-wrapper a {
  text-decoration: underline;
  color: #dd8208;
  font-weight: bold;
}
