.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0 10px;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
}

.pagination li.active {
  font-weight: bold;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
