<div class="center">
  <div class="tab-button-container">
    <app-custom-button
      width="150px"
      *ngFor="let option of options"
      [text]="option.text"
      [icon]="option.icon"
      class="tab-button"
      (click)="toggleSelection(option.value)"
      [showIcon]="option.showIcon"
      [iconPosition]="option.iconPosition"
      [shape]="option.shape"
      [corners]="option.corners"
      [hasBorder]="option.hasBorder ?? false"
      [borderColor]="option.borderColor"
      [foregroundColor]="option.foregroundColor"
      [backgroundColor]="option.backgroundColor"
      [transparent]="option.transparent"
      [shadow]="option.shadow"
      [navigate]="option.navigate ?? false"
      [url]="option.url ?? ''"
      [id]="option.id ?? ''"
      [menuItems]="option.menuItems"
      [isMenuButton]="option.isMenuButton"
      [customStyles]="option.customStyles ?? {}"
      [isPillButton]="option.isPillButton ?? false"
      [active]="selected.includes(option.value)"
    >
    </app-custom-button>
  </div>
</div>
