<mat-card
  class="list-layout"
  [ngStyle]="{'width': '100%'}"
  appearance="outlined"
>
  <!-- Full card skeleton loader -->
  <ngx-skeleton-loader
    *ngIf="loading"
    count="1"
    [theme]="{ 'border-radius': '10px' }"
    [style.height.px]="400"
    [style.width.%]="100"
  >
  </ngx-skeleton-loader>

  <!-- Image -->
  <div class="image-list-section">
    <div
      *ngIf="!loading && cardConfig?.image"
      class="card-image-container"
      [ngClass]="{
        'hover-effect': cardConfig?.image?.hoverEffect,
        'image-top-half': cardConfig?.image?.position === 'top-half',
        'image-middle': cardConfig?.image?.position === 'middle',
        'image-bottom-half': cardConfig?.image?.position === 'bottom-half',
        'image-square-under-title': cardConfig?.image?.position === 'square-under-title',
        'image-rectangle-under-title': cardConfig?.image?.position === 'rectangle-under-title',
        'image-dark-background-title': cardConfig?.image?.position === 'dark-background-title'
      }"
    >
      <ngx-skeleton-loader
        *ngIf="loading"
        count="1"
        class="card-image"
      ></ngx-skeleton-loader>
      <img
        *ngIf="!loading"
        [src]="cardConfig?.image?.src"
        alt="Card Image"
        class="card-image"
      />

      <div
        *ngIf="cardConfig?.image?.position === 'dark-background-title' && !loading"
        class="dark-background-title"
      >
        <h2 class="image-title">{{ cardConfig?.image?.title }}</h2>
      </div>

      <div
        *ngIf="cardConfig?.image?.hoverEffect && !loading"
        class="hover-content"
      >
        <div>
          <h2>{{ cardConfig?.image?.title }}</h2>
        </div>
        <div>
          <p>{{ cardConfig?.image?.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="list-details-section">
    <!-- card Action -->
    <div class="card-actions" *ngIf="!loading">
      <span class="action-item" *ngFor="let action of cardConfig?.cardActions">
        <mat-icon>{{ action.icon }}</mat-icon> {{ action.text }}
      </span>
    </div>

    <!-- Body -->
    <mat-card-content class="card-body" *ngIf="!loading">
      <div
        *ngIf="cardConfig?.body?.type === 'text'"
        class="body-content"
        [ngClass]="cardConfig?.body?.align"
      >
        <p>{{ cardConfig?.body?.content }}</p>
      </div>
      <div
        *ngIf="cardConfig?.body?.type === 'text+buttons'"
        class="body-content"
        [ngClass]="cardConfig?.body?.align"
      >
        <p>{{ cardConfig?.body?.content }}</p>
      </div>
      <div
        *ngIf="cardConfig?.body?.type === 'text+buttons'"
        class="body-buttons"
        [ngClass]="cardConfig?.body?.align"
      >
        <ng-container *ngFor="let button of cardConfig?.body?.buttons">
          <button mat-button (click)="button.action?.()">
            {{ button.text }}
          </button>
        </ng-container>
      </div>
    </mat-card-content>

    <!-- Card Content -->
    <div class="card-content" *ngIf="!loading">
      <p *ngIf="cardConfig?.content?.description">
        {{ cardConfig?.content?.description }}
      </p>

      <div
        *ngIf="cardConfig?.content?.customHtml"
        [innerHTML]="cardConfig?.content?.customHtml"
      ></div>

      <div
        *ngIf="cardConfig?.content?.details"
        class="card-details"
        [ngClass]="cardConfig?.content?.details?.align"
      >
        <div
          *ngFor="let row of cardConfig?.content?.details?.content"
          class="details-row"
        >
          <div *ngFor="let cell of row" class="details-cell">
            <span *ngIf="cell.icon" class="cell-icon">{{ cell.icon }}</span>
            <span>{{ cell.text }}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <mat-card-footer
      *ngIf="!loading && cardConfig?.footer"
      class="footer-container"
      [ngClass]="{ 'multi-column': cardConfig?.footer?.align === 'multi-column' }"
    >
      <ng-container
        *ngIf="cardConfig?.footer?.type === 'buttons' && cardConfig?.footer?.buttons?.length"
      >
        <div class="footer-group left" *ngIf="hasButtonGroup('left')">
          <ng-container *ngFor="let button of getButtonsByGroup('left')">
            <app-custom-button
              class="footer-button"
              width="155px"
              [text]="button.text"
              [icon]="button.icon || ''"
              [iconPosition]="button.iconPosition || 'left'"
              [shape]="button.shape || 'rectangle'"
              [corners]="button.corners || 'rounded'"
              [foregroundColor]="button.foregroundColor || ''"
              [backgroundColor]="button.backgroundColor || ''"
              [shadow]="button.shadow !== undefined ? button.shadow : true"
              [transparent]="button.transparent || false"
              (buttonClick)="button.action?.()"
            ></app-custom-button>
          </ng-container>
        </div>
        <div class="footer-group right" *ngIf="hasButtonGroup('right')">
          <ng-container *ngFor="let button of getButtonsByGroup('right')">
            <app-custom-button
              class="footer-button"
              width="155px"
              [text]="button.text"
              [icon]="button.icon || ''"
              [iconPosition]="button.iconPosition || 'left'"
              [shape]="button.shape || 'rectangle'"
              [corners]="button.corners || 'rounded'"
              [foregroundColor]="button.foregroundColor || ''"
              [backgroundColor]="button.backgroundColor || ''"
              [shadow]="button.shadow !== undefined ? button.shadow : true"
              [transparent]="button.transparent || false"
              (buttonClick)="button.action?.()"
            ></app-custom-button>
          </ng-container>
        </div>
      </ng-container>

      <ng-container *ngIf="cardConfig?.footer?.type === 'text'">
        <div [ngClass]="getTextAlignmentClass()">
          {{ cardConfig?.footer?.text }}
        </div>
      </ng-container>
    </mat-card-footer>
  </div>
</mat-card>
