/* Gird Layout */
.grid-layout {
  display: flex;
  flex-direction: column;
  padding: 12px;
  /* row-gap: 10px; */
  min-height: 374px;
  align-items: center;
}

.header-container {
  /* position: relative; */
  width: 100%;
}

/* .header-title {
  margin-bottom: 16px;
} */

.header-title.left {
  text-align: left;
}

.header-title.center {
  text-align: center;
}

.header-title.right {
  text-align: right;
}

.header-buttons {
  /* position: absolute; */
  margin-bottom: 8px !important;
}

.header-buttons.left {
  left: 0;
  text-align: left;
}

.header-buttons.center {
  /* left: 50%;
  transform: translateX(-50%); */
  text-align: center;
}

.header-buttons.right {
  right: 0;
  text-align: right;
}

/* Image CSS */
.card-container {
  position: relative;
  display: block;
  width: 100%;
}

.card-image-container {
  position: relative;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 240px;
  display: block;
  border-radius: 6px;
  object-fit: cover;
}

.hover-effect .hover-content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hover-effect:hover .hover-content {
  display: flex;
  opacity: 1;
  flex-direction: column;
}

.image-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}

.image-top-half {
  height: 50%;
}

.image-middle {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-bottom-half {
  height: 50%;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.image-square-under-title {
  width: 50%;
  margin: 0 auto;
}

.image-rectangle-under-title {
  width: 100%;
  height: 200px;
}

.image-dark-background-title {
  position: relative;
}

.dark-background-title {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.image-title {
  margin: 0;
}
/* card action */
.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #666;
  letter-spacing: 0px;
}

.action-item {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;
  font-size: 14px;
}

.action-item > .mat-icon {
  color: purple;
}

/* Card Content CSS*/
.card-content {
  letter-spacing: 0px;
  margin-bottom: 0px;
}
.card-content > p {
  margin-bottom: 0px;
}

/* card body */
.card-body {
  padding: 0px;
  height: fit-content;
}
.card-details {
  display: flex;
  flex-wrap: wrap;
}

.card-details.left {
  justify-content: flex-start;
}

.card-details.center {
  justify-content: center;
}

.card-details.right {
  justify-content: flex-end;
}

.card-details.multi-column {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 10px;
}

.details-row {
  display: flex;
  justify-content: space-between;
}

.details-cell {
  display: flex;
  align-items: center;
}

.details-cell .cell-icon {
  margin-right: 8px;
}

/* Body CSS */

.body-content {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 0px;
  color: purple;
  letter-spacing: 0px;
}
.body-content > p {
  margin: 0px;
}
.body-content.left {
  text-align: left;
}

.body-content.center {
  text-align: center;
}

.body-content.right {
  text-align: right;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.footer-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  padding: 24px 0px 8px;
}

/* icon css */
.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-icons {
  display: flex;
  gap: 8px;
}

.header-icons.top {
  justify-content: center;
  margin-bottom: 8px;
}

.header-icons.bottom {
  justify-content: center;
  margin-top: 8px;
}

.header-icons.left {
  margin-right: 8px;
}

.header-icons.right {
  margin-left: 8px;
}

.header-buttons {
  margin-top: 8px;
}

/* Ensure maximum 3 buttons per row */
/* .footer-group.left > app-custom-button,
.footer-group.right > app-custom-button {
  flex: 1 1 calc(33.33% - 10px);
  max-width: calc(33.33% - 10px);
  text-align: center;
} */

/* Responsive Design */
/* @media (max-width: 768px) {
  .footer-group.left > app-custom-button,
  .footer-group.right > app-custom-button {
    flex: 1 1 calc(50% - 10px); 
    max-width: calc(50% - 10px);
  }
} */

/* @media (max-width: 480px) {
  .footer-group.left > app-custom-button,
  .footer-group.right > app-custom-button {
    flex: 1 1 100%; 
    max-width: 100%;
  }
} */
