<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<!-- <div class="pageContainer"> -->
<div class="table-container">
  <div class="filter-box">
    <div className="table-title" *ngIf="config?.tableTitle" class="table-title">
      {{ config.tableTitle }}
    </div>
    <div class="filter-section">
      <mat-form-field *ngIf="showFilter" [ngStyle]="{ width: filterWidth }">
        <mat-label>Filter</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. John"
          #input
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Selected Columns</mat-label>
        <mat-select
          [formControl]="columnControl"
          multiple
          (selectionChange)="onColumnSelectionChange()"
        >
          <div
            cdkDropList
            [cdkDropListData]="selectedColumns"
            (cdkDropListDropped)="dropSelectedColumns($event)"
          >
            <div *ngFor="let column of selectedColumns; let i = index" cdkDrag>
              <mat-option [value]="column">
                <mat-icon cdkDragHandle>drag_indicator</mat-icon>
                {{ getColumnTitle(column) }}
              </mat-option>
            </div>
          </div>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="table-wrapper" [ngStyle]="{ margin: '0px' }">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- <ng-container>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-icon>drag_indicator</mat-icon>
        </td>
      </ng-container> -->

      <ng-container
        *ngFor="let columnKey of selectedColumns"
        [matColumnDef]="columnKey"
      >
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header-container
          [ngStyle]="{
            'text-align': getHeaderAlignment(columnKey),
            borderRight: '2px solid #fff',
            minWidth: getHeaderMinWidth(columnKey),
            maxWidth: getHeaderMaxWidth(columnKey),
          }"
        >
          {{ getColumnTitle(columnKey) }}
        </th>
        <td
          mat-cell
          *matCellDef="let row; let i = index"
          [ngStyle]="{ 'text-align': getRowAlignment(row, columnKey) }"
        >
          <ng-container [ngSwitch]="getColumnType(columnKey)">
            <div *ngSwitchCase="'text'" class="name-with-image">
              <ng-container *ngIf="columnKey === 'name'">
                <img
                  *ngIf="row.imageUrl"
                  [src]="row.imageUrl"
                  alt="Profile"
                  class="profile-image"
                />
                <span class="name-text">{{ row[columnKey] }}</span>
              </ng-container>
              <span *ngIf="columnKey !== 'name'">{{ row[columnKey] }}</span>
            </div>
            <!-- <span *ngSwitchCase="'text'">{{ row[columnKey] }}</span> -->
            <img
              *ngSwitchCase="'image'"
              [src]="row[columnKey]"
              alt="Image"
              width="200"
              height="200"
            />
            <video
              *ngSwitchCase="'video'"
              [src]="row[columnKey]"
              width="200"
              height="200"
              controls
            ></video>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions" *ngIf="actions.length > 0">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <div class="action-buttons">
            <app-custom-button
              *ngFor="let action of element.actions || config.actions"
              [ngStyle]="{ 'margin-right': config.elementSpacing || '0px' }"
              [text]="action.text || ''"
              [icon]="action.icon || ''"
              [showIcon]="
                action.showIcon !== undefined ? action.showIcon : true || ''
              "
              [iconPosition]="action.iconPosition || 'left'"
              [shape]="action.shape || ''"
              [corners]="action.corners || ''"
              [foregroundColor]="action.foregroundColor || ''"
              [backgroundColor]="action.backgroundColor || ''"
              [shadow]="action.shadow || ''"
              [transparent]="action.transparent || ''"
              (click)="
                action.text === 'Edit'
                  ? startEditing(i)
                  : handleActionClick(action, element)
              "
              (buttonClick)="
                action.text === 'Edit' || action.text === 'edit'
                  ? startEditing(i)
                  : handleActionClick(action, element)
              "
            >
            </app-custom-button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        cdkDrag
        [cdkDragData]="row"
      ></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter ""</td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
    <!-- <app-pagination
      [totalItems]="data.length"
      [itemsPerPage]="config.itemsPerPage"
      [currentPage]="config.currentPage"
      [maxSize]="maxSize"
      [directionLinks]="directionLinks"
      (pageChange)="onPageChange($event)"
    >
    </app-pagination> -->
  </div>
</div>
<!-- </div> -->
